body {
    background-image: url('profile.jpg');
    background-size: 100%;
}
.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 20px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #60afcc;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
}

.ball {
    list-style: none;
    margin: 0;
}
.ball a {
    width: 100%;
    color: #d51f1f;
    text-decoration: none;
    display: inline-block;
    padding-left: 25px;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    position: relative;
    transition: .3s linear;
}
.ball a:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #425273;
    position: absolute;
    left: -30px;
    top: 7px;
}
.ball li {position: relative;}
.ball li:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EC351D;
    position: absolute;
    top: 12px;
    left: -30px;
    z-index: 2;
    transition: .4s ease-in-out;
}
.ball li:hover:before {left: -20px;}