body {
    background-image: url('img/shop.png');
    background-size: 100%;
}
img {
    height: auto;
    max-width: 100%;
}
.content{
    padding-top: 75px;
    margin-top: 50px;
}
.product {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    /*height: 390px;*/
    overflow: hidden;
    padding: 25px 15px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
}
.product:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-img {
    height: 200px;
}
.product-title a {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.product-desc {
    max-height: 60px;
    overflow: hidden;
}
.product-price {
    bottom: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    color: #d51e08;
    font-size: 18px;
    font-weight: 500;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}