body {
    background-image: url('shop.png');
    background-size: 100%;
}

table {
    padding-top: 100px;
    width:100%;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
th {
    padding: 10px 20px;
    background: rgba(3, 28, 112, 0.47);
    color: #ffffff;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid rgba(3, 28, 112, 0.47);
    border-bottom: 2px solid rgba(3, 28, 112, 0.47);
    border-right: 2px solid rgba(3, 28, 112, 0.47);
}
td:first-child {
    border-left: 2px solid rgba(3, 28, 112, 0.47);
    border-right: none;
}
td:nth-child(2){
    text-align: left;
}